
<div class="cartCard">
    <h1 value="{{user.name}}" id="username" >Productos agregados al cart de {{user.name}}:</h1>
  <h3 value={{cart.totalQuantity}}>Cantidad total de productos:  {{cart.totalQuantity}}  </h3>
  <h3>Monto total:$  {{cart.totalAmount}} </h3>
  {{#each listFinalDeProducts}}
        <div class="productCart"> 
  
<div class="sub-div-cart-card">
    <div> 
        <img src={{this.img}} alt={{this.description}} class="img-product-cart">
        <p>Id: {{this.id}}</p>
    </div> 
    <div>
       <p>Description: {{this.description}}</p>
       <p>Price:$ {{this.price}}</p>
       <p>Amount:$ {{this.amount}} </p>
       <p>Category: {{this.category}}</p>
        <p>Quantity: {{this.quantity}}</p>
    </div>
</div>
   <div>
<button class="delete-product-btn" data-product-id="{{this.id}}">Eliminar del carrito</button>
   </div>
</div>
    <hr>
    {{/each}}
 </div>

 
  <button data-cart-id="{{cid}}" id="btnGenerarTiket">Finalizar compra</button>
  
  <button data-cart-id="{{cid}}" id="btnCancelarCompra">Cancelar compra</button>

<script src="/js/cart.js"></script>
<script src="/js/tiket.js"></script>      
