
<div class="cartCard">
    <h1>Productos agregados al cart de {{user.name}}:</h1>
  
  {{#each cart.products}}
  <div class="productCart"> 
    <p>Title: {{this.title}}</p>
    <p>Id: {{this._id}}</p>
   <p>Description: {{this.description}}</p>
   <p>Price:$ {{this.price}}</p>
   <p>Category: {{this.category}}</p>
    <p>Quantity: {{this.quantity}}</p>
 <hr>
  </div>
   
    {{/each}}
</div>


      
