


<nav class="navContainer">
    <ul class="nav-ul">
        <li><a href="/home" class="nav-item">HOME</a></li>
        <li><a href="/products/?category=remeras" class="nav-item">Remeras</a></li>
        <li><a href="/products/?category=pantalones" class="nav-item">Pantalones</a></li>
        <li><a href="/products/?category=abrigos" class="nav-item" >Abrigos</a></li>
        <li><a href="/products/?category=accesorios" class="nav-item" >Accesorios</a></li>
        <li>
         <a href="/cart" class="nav-item" >        
           <span class="material-symbols-outlined">
            shopping_cart
            </span>  
            <samp>{{totalQuantity}}</samp>
         </a>
        </li>
   
        {{#if isUser}}
           <li><a href="/profileuser" style="color: white;">Mi perfil</a></li>
          <li><button id="btnGetPremium" data-user-id="{{userId}}">QUIERO SER USUARIO PREMIUM</button> </li>           
        {{/if}}

        {{#if isPremium}}
          <li><a href="/profilepremium"   class="nav-item">Mi perfil</a></li>
          <li><button id="btnRevertPremium" data-user-id="{{userId}}" >DEJAR DE SER USUARIO PREMIUM</button></li>  
        {{/if}}
        
    </ul>
</nav>


<div class="productsContainer">
    {{#each products}}
    <div class="productCard">
        <p>Title: {{this.title}} </p>
        <img src={{this.img}} alt={{this.description}}>
        <p>Description: {{this.description}} </p>
        <p>Price: $ {{this.price}} </p>
        <button id="btn-subtract-product" class="btn-subtract-product">-</button>
        <span id="spam-quantity" class="spam-quantity">1</span>
        <button id="btn-add-more-product" class="btn-add-more-product"  data-stock="{{this.stock}}">+</button>
        <button class="btnCard"  data-product-id="{{this._id}}" >Add to cart</button>
    </div>
    {{/each}}
</div>


    {{#if hasPrevPage}}
    <div class="btnsContainer"></div>
    <a href="/products/?page={{prevPage}}"><button> < Anterior</button> </a>
    {{/if}}

    <div class="numberPage">
   {{page}}
    </div>
  

    {{#if hasNextPage}}
    <a href="/products/?page={{nextPage}}"><button>Próxima > </button> </a>
    </div>
    {{/if}}

 <script src="/js/home.js"></script> 