<div>
    <h1>Mis productos</h1>
    
    <div class="div-premium-products">
         {{#each products}}
    <div class="productCard">
        <p>Title: {{this.title}} </p>
        <img src={{this.img.[0]}} alt={{this.description}}>
        <p>Description: {{this.description}} </p>
        <p>Price: $ {{this.price}} </p>        
    <button class="btnDeleteUserProduct"   data-product-id="{{this._id}}" >Delete Product</button>
    </div>
    {{/each}}

    </div>


</div>
<script src="/js/premiumProducts.js" ></script>