
<div class="bodyContainer">


<h1>Productos:</h1>
<div class="productsContainer">
    {{#each products}}
    <div class="productCard">
        <p>Title: {{this.title}} </p>
       
        <p>Description: {{this.description}} </p>
        <p>Price: $ {{this.price}} </p>
    <button class="btnCard"  data-product-id="{{this._id}}" >Add to cart</button>
    </div>
    {{/each}}
</div>


    {{#if hasPrevPage}}
    <div class="btnsContainer"></div>
    <a href="/products/?page={{prevPage}}"><button> < Anterior</button> </a>
    {{/if}}

    <div class="numberPage">
   {{page}}
    </div>
  

    {{#if hasNextPage}}
    <a href="/products/?page={{nextPage}}"><button>Próxima > </button> </a>
    </div>
    {{/if}}


{{#if productsfilter}}
<div class="productsContainer"> 
{{#each productsfilter}}
   <div class="productCard">
        <p>Title: {{this.title}} </p>
        <p>Description: {{this.description}} </p>
        <p>Price: $ {{this.price}} </p>
    <button class="btnCard"  data-product-id="{{this._id}}" >Add to cart</button>
    </div>
{{/each}}
</div>
{{/if}}

</div>

 <script src="/js/products.js"></script> 