<nav class="navContainer">
    <ul class="nav-ul">
        {{#if isUserOrPremium}}
                <li><a href="/home" class="nav-item">HOME</a></li>
        {{/if}}
        {{#if isAdmin}}
        <li><a href="/adminHome" class="nav-item">HOME</a></li>
        {{/if}}
         <li><a href="/products/?category=remeras" class="nav-item">Remeras</a></li>
         <li><a href="/products/?category=pantalones" class="nav-item">Pantalones</a></li>
          <li><a href="/products/?category=abrigos" class="nav-item" >Abrigos</a></li>
          <li><a href="/products/?category=accesorios" class="nav-item" >Accesorios</a></li>
          
          {{#if  isUserOrPremium}}
              <li><a href="/cart" class="nav-item" >
            <span class="material-symbols-outlined">
            shopping_cart
            </span>       
           </a></li>
          {{/if}}
    </ul>
</nav>


<div class="bodyContainer">
<div class="productsContainer">
    {{#each products}}
  <div class="productCard">
        <img src={{this.img}} alt={{this.description}}>
        <p>Description: {{this.description}} </p>
        <p>Color:{{this.color}} </p>
        <p>Talle: {{this.talle}}</p>
        <p>Duaeño:{{this.owner}} </p>
        <p>Price: $ {{this.price}} </p>
        {{#if ../isUserOrPremium}}
        <button id="btn-subtract-product" class="btn-subtract-product">-</button>
        <span id="spam-quantity" class="spam-quantity">1</span>
        <button id="btn-add-more-product" class="btn-add-more-product"  data-stock="{{this.stock}}">+</button>
        <button class="btnCard"  data-product-id="{{this._id}}" >Add to cart</button>
        {{/if}}
        {{#if ../isAdmin}}
        <button class="btnDeleteProduct"  data-product-id="{{this._id}}" >Eliminar producto</button>
        {{/if}}
    </div>
    {{/each}}
</div>




    {{#if hasPrevPage}}
    <div class="btnsContainer"></div>
    <a href="/products/?page={{prevPage}}"><button> < Anterior</button> </a>
    {{/if}}

    <div class="numberPage">
   {{page}}
    </div>
  

    {{#if hasNextPage}}
    <a href="/products/?page={{nextPage}}"><button>Próxima > </button> </a>
    </div>
    {{/if}}


{{#if productsfilter}}
<div class="productsContainer"> 
{{#each productsfilter}}
  <div class="productCard">
        <img src={{this.img}} alt={{this.description}}>
        <p>Description: {{this.description}} </p>
         <p>Color:{{this.color}} </p>
        <p>Talle: {{this.talle}}</p>
        <p>Price: $ {{this.price}} </p>
        <p>Dueño:{{this.owner}} </p>
          {{#if ../isUserOrPremium}}
        <button id="btn-subtract-product" class="btn-subtract-product">-</button>
        <span id="spam-quantity" class="spam-quantity">1</span>
        <button id="btn-add-more-product" class="btn-add-more-product"  data-stock="{{this.stock}}">+</button>
        <button class="btnCard"  data-product-id="{{this._id}}" >Add to cart</button>
        {{/if}}
        {{#if ../isAdmin}}
        <button class="btnDeleteProduct"  data-product-id="{{this._id}}" >Eliminar producto</button>
        {{/if}}
    </div>
{{/each}}
</div>
{{/if}}

</div>

 <script src="/js/products.js"></script> 
 <script src="/js/adminhome.js"></script>