<h1>Se ha confirmado la siguiente compra, te enviaremos un correo con los detalles de la misma,
    que lo disfrutes!
</h1>

<div >
<p>Code: {{tiket.code}} </p>
<p>Tiket de: {{tiket.purchaser}}</p>
<p>Cantidad  total de productos: {{tiket.totalQuantity}} </p>
<p> Monto total: {{tiket.amount}} </p>
<p>Fecha de compra generada : {{tiket.dataTime}} </p>
</div>