<h1>Tiket de compra:</h1>

<div >
<p>Code: {{tiket.code}} </p>
<p>Tiket de: {{tiket.purchaser}}</p>
<p>Cantidad  total de productos: {{tiket.totalQuantity}} </p>
<p> Monto total: {{tiket.amount}} </p>
<p>Fecha de compra generada : {{tiket.dataTime}} </p>
</div>