<h1>Modificar producto:</h1>

<div class="forms"> 




<form class="forms" id="formUpdateProduct" >
    <img src={{product.img}} alt="imagen del producto">
       <input type="hidden" name="productId" id="productId" value="{{product.id}}">
    <input type="text" placeholder="{{product.title}}" name="title">
    <input type="text" placeholder="{{product.description}}" name="description" >
    <input type="number" placeholder="Price: $ {{product.price}}" name="price" min="1" >
    <select id="category" name="category" >
        <option value="remeras">Remeras</option>
        <option value="pantalones">Pantalones</option>
        <option value="abrigos">Abrigos</option>
        <option value="accesorios">Accesorios</option>
    </select>
    <input type="text" placeholder="Code {{product.code}}" name="code" >
    <label for="talle">Talle:</label>
        <select id="talle" name="talle" >
            <option value="xs">XS</option>
            <option value="s">S</option>
            <option value="m" selected>M</option>
            <option value="l">L</option>
            <option value="xl">XL</option>
        </select>
      <label for="color">Color:</label>
        <select id="color" name="color" >
            <option value="blanco">Blanco</option>
            <option value="negro">Negro</option>
            <option value="marron">Marrón</option>
            <option value="rojo">Rojo</option>
            <option value="azul">Azul</option>
            <option value="amarillo">Amarillo</option>
            <option value="verde">Verde</option>
            <option value="rosa">Rosa</option>
            <option value="celeste">Celeste</option>
            <option value="naranja">Naranja</option>
            <option value="violeta">Violeta</option>
            <option value="gris">Gris</option>
            <option value="crema">Crema</option>
            <option value="jean">Jean</option>
            <option value="estampado">Estampado</option>
            <option value="ninguno">Ninguno</option>
        </select>  
    <input type="number" placeholder="Stock" name="stock" min="1" >
    <input type="submit" value="Cargar" class="btnNewProduct" >
</form>

</div>





</div>

<script src="/js/updateProduct.js" ></script>