<h1>Usuarios</h1>

<div>
    
    <div class="productsContainer">
         {{#each users}}
    <div class="productCard">
        <img src={{this.imgProfile}} alt="Imagen persil de isuario" class="imgsCard">
        <p>Nombre:{{this.first_name}} </p>
        <p>Apellido: {{this.last_name}} </p>
        <p>Alias: {{this.alias}} </p>
        <p>Correo: {{this.email}} </p>      
        <a href="/products/useproducts/{{this.alias}}" class="links"> Ver productos de este usuario</a>
       
        {{#if ../isAdmin}}
       <a href="/users/updateuser/{{this._id}}" class="btnUpdateAndDelete">
        <span class="material-symbols-outlined">
        edit
        </span>
        Modificar datos
        </a>

        <button id="btnDeleteUser" data-user-id="{{this._id}}" class="btnUpdateAndDelete">
        <span class="material-symbols-outlined">
        delete_sweep
        </span>
        Eliminar cuenta</button>
         {{/if}}
    </div>
       
     
    {{/each}}

    </div>
</div>

<script src="/js/users.js"></script>